[submodule "libultraship"]
	path = libultraship
	url = https://github.com/kenix3/libultraship.git
[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/harbourmasters/ZAPDTR
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/harbourmasters/OTRExporter
[submodule "dr_libs"]
	path = soh/include/dr_libs
	url = https://github.com/mackron/dr_libs
